pre code.hljs {
  display: block !important;
  overflow-x: auto !important;
  padding: 1em !important
}

code.hljs {
  padding: 3px 5px !important
}

.hljs {
  background: #fff !important;
  color: #000 !important
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: green !important
}

.hljs-built_in,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-tag {
  color: #00f !important
}

.hljs-addition,
.hljs-attribute,
.hljs-literal,
.hljs-section,
.hljs-string,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type {
  color: #a31515 !important
}

.hljs-deletion,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #2b91af !important
}

.hljs-doctag {
  color: grey !important
}

.hljs-attr {
  color: red !important
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
  color: #00b0e8 !important
}

.hljs-emphasis {
  font-style: italic !important
}

.hljs-strong {
  font-weight: 700 !important
}